# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Eclipse
.classpath
.project
.settings/

# IntelliJ
.idea/
*.iml
*.iws

# VS Code
.vscode/

# Node.js
node_modules/
dist/
dist-ssr/
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Tools
tools/
